html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bookend {
    flex-grow: 0;
    font-size: 24px;
/*    width: 40px;*/
/*    height: 40px;*/
/*    padding-right: 5px;*/
    text-align: center;
}
#weight {
    flex-grow: 1;
}

.slider-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 45px;
}

#locations {
    width: 100%;
    min-width: 0;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 5px;
}
#from {
    grid-column: 1 / span 2;
}
#to, .to-result {
    grid-column: 2 / span 2;
}
.to-result {
    border: 0;
    text-align: left;
}
.light {
    background: #ffffff;
}
.dark {
    background: #dddddd;
}

.location-button {
    flex-grow: 0;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.search-box {
    height: 34px;
    
}

.search-box, .to-result {
    flex-grow: 1;
    font-size: 25px;
    padding: 1px;
    border-width: 2px;
}

#route {
    font-size: 24px;
    width: 80px;
    height: 40px;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.step {
    font-size: 18px;
    font-family: monospace;
}