.bookend {
    flex-grow: 0;
    font-size: 24px;
/*    width: 40px;*/
/*    height: 40px;*/
/*    padding-right: 5px;*/
    text-align: center;
}
#weight {
    flex-grow: 1;
}

.slider-box {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 45px;
}

#locations {
    width: 100%;
    display: grid;
    grid-template-columns: 40px auto 40px;
    gap: 5px;
}
#from {
    grid-column: 1 / span 2;
}
#to, .to-result {
    grid-column: 2 / span 2;
}
.to-result {
    border: 0;
    text-align: left;
}
.light {
    background: #ffffff;
}
.dark {
    background: #dddddd;
}

.location-button {
    flex-grow: 0;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
}

.search-box {
    height: 34px;
}

.search-box, .to-result {
    
    font-size: 25px;
/*    padding: 0;*/
}

.step {
    font-size: 18px;
    font-family: monospace;
}
