#letter-grid {
    display: grid;
    grid-template-columns: repeat(6, 3em);
    grid-template-rows: repeat(6, 3em);
    grid-gap: 1em;
    aspect-ratio: 1;
    /*width: 50%;*/
}

.edit {
    background-color: #FFFFFF;
    color: #000000;
}

.edit.active {
    background-color: #0000FF;
    color: #FFFFFF;
}

.character {
    background-color: #D0D0D0;
}


.character.black {
    background-color: #303030;
    color: #FFFFFF;
}
.character.yellow {
    background-color: #FFFF00;
    color: #000000;
}
.character.green {
    background-color: #00FF00;
    color: #000000;
}

.character.active {
    background-color: #FFFFFF;
    color: #000000;
}

button:hover {
    filter:  brightness(70%);
}