@media only screen and (min-width: 480px) {
    h1 {
        font-size: 5vh;
    }

    h4 {
        font-size: 3vh;
        margin-bottom: 2vh;
    }

    .column {
        height: 85vh;
    }

    .grid-container {
        grid-gap: 1vh 1vh;
        width: 44vh;
    }

    .letter-box {
        width: 8vh;
        height: 8vh;
    }

    .letter {
        font-size: 3vh;
    }

    .keyboard {
        grid-gap: 0.5vh 0.5vh;
    }

    .key {
        width: 6vh;
        height: 6vh;
        border-radius: 1vh;
    }

    .key.enter {
        width: 12.5vh;
        height: 6vh;
    }

    .popup {
        top: 25vh;
        height: 50vh;
        width: 40vh;
    }
    #scroll {
        height: 32vh;
    }
    #message {
        width: 35vh;

    }
    #info {
        width: 18.5vh;
        height: 5vh;
        bottom: 1vh;
        left: 1vh;
        font-size: 2vh;
    }
    #next {
        width: 18.5vh;
        height: 5vh;
        bottom: 1vh;
        right: 1vh;
        font-size: 2vh;
    }

    .shake {
        animation-duration: 0.5s;
    }
    @keyframes shake {
        from {
            transform: translate(0);
        }
        25% {
            transform: translate(-3vh);
        }
        75% {
            transform: translate(3vh);
        }
        to {
            transform: translate(0);
        }
    }
}
